language: r
sudo: false
cache: packages
r_packages:
- covr
- drat
after_success:
- Rscript -e 'library(covr);codecov()'
- test $TRAVIS_PULL_REQUEST == "false" && test $TRAVIS_BRANCH == "master" && bash
  drat.sh
env:
  global:
    secure: Av6k/vdCivxc3K1Iyi/EXxqxZSAvcOJMu1dI0k2qsp9ZTCjbMerl8e5CM8muRBMgM6K/H4h8fMqd1rCY8Q7eI92AWEDqpWxmsoa7AR+f5YYkS5NzjRWrHt6x7SWd3uwNRitAopgi9q2eZHwt95LFGUMozwEZbAVRoYJtPjwpGWk=
